.input-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.label-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-center.mb-4 {
    margin-bottom: 2rem !important;
}

.text-center.mt-4 {
    margin-top: 2rem !important;
}